:root, button, input, textarea {
  font-family: Pretendard !important;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  color: #4E5968;
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
}